<html>
<head>
    <script src="/ref/vue.js"></script>
    <script src="/ref/vue-resource.js"></script>

</head>
<body>
<div id="app">
    推荐商品
    <li v-for="commodity in recommendedList">
        {{commodity.title}}&nbsp;{{commodity.price}}
    </li>
    <p></p>
    商品列表
    <li v-for="commodity in commodities">
        {{commodity.title}}&nbsp;{{commodity.price}}
    </li>
</div>
</body>
<script>
    var actionMethods = {

        loadRecommended: function () {

            this.$http.get('commodities/recommended').then(function (response) {
                console.log(response.body);
                this.recommendedList = response.body;
            }, function (response) {
                // error callback
            });
        }
    };
    var app = new Vue({
        el: '#app',
        data: {
            recommendedList: [],
            commodities: []
        },
        http: {
            root: 'http://127.0.0.1:5555/',
            headers: {
                "X-Auth-Ticket": 'test token'
            }
        },
        methods: actionMethods
    });

    app.loadRecommended();

</script>
</html>
